interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://cspec.genome.network/cspec/Gene/id/OTC/ldFor?detail=high
  response:
    body:
      string: "{\n  \"data\": {\n    \"SequenceVariantInterpretation\": [\n      {\n
        \       \"created\": \"2023-10-26T09:39:20.930Z\",\n        \"creator\": \"mweaver\",\n
        \       \"entContent\": {\n          \"approvedOn\": \"2026-02-27T19:37:08.107Z\",\n
        \         \"description\": \"Ornithine Carbamoyltransferase (OTC) specifications\",\n
        \         \"namespace\": \"GN156\",\n          \"shortTitle\": \"Urea Cycle
        Disorders Specification\",\n          \"states\": [\n            {\n              \"current\":
        false,\n              \"event\": {\n                \"modifiedBy\": \"mweaver\",\n
        \               \"name\": \"cspec-created\",\n                \"prevState\":
        \"START\",\n                \"timeStamp\": \"2023-10-26T09:39:17.357Z\"\n
        \             },\n              \"name\": \"Classification Rules In Prep\"\n
        \           },\n            {\n              \"current\": false,\n              \"event\":
        {\n                \"modifiedBy\": \"mweaver\",\n                \"name\":
        \"classified-rules-submitted\",\n                \"prevState\": \"Classification
        Rules In Prep\",\n                \"timeStamp\": \"2024-05-03T11:47:37.764Z\"\n
        \             },[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://cspec.genome.network/cspec/SequenceVariantInterpretation/id/1622722963?detail=high
  response:
    body:
      string: "{\n  \"data\": {\n    \"created\": \"2023-10-26T09:39:20.930Z\",\n
        \   \"creator\": \"mweaver\",\n    \"entContent\": {\n      \"approvedOn\":
        \"2026-02-27T19:37:08.107Z\",\n      \"description\": \"Ornithine Carbamoyltransferase
        (OTC) specifications\",\n      \"namespace\": \"GN156\",\n      \"releaseNotes\":
        \"\",\n      \"shortTitle\": \"Urea Cycle Disorders Specification\",\n      \"specificationSource\":
        \"\",\n      \"states\": [\n        {\n          \"current\": false,\n          \"event\":
        {\n            \"modifiedBy\": \"mweaver\",\n            \"name\": \"cspec-created\",\n
        \           \"prevState\": \"START\",\n            \"timeStamp\": \"2023-10-26T09:39:17.357Z\"\n
        \         },\n          \"name\": \"Classification Rules In Prep\"\n        },\n
        \       {\n          \"current\": false,\n          \"event\": {\n            \"modifiedBy\":
        [...]
