interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://cspec.genome.network/cspec/id/50013?detail=high
  response:
    body:
      string: "{\n  \"data\": {\n    \"Organization\": [\n      {\n        \"entContent\":
        {\n          \"approval\": {\n            \"step1\": {\n              \"approved\":
        true\n            },\n            \"step2\": {\n              \"approvalDate\":
        \"2017-08-10T00:00:00.000Z\",\n              \"approved\": true\n            },\n
        \           \"step3\": {\n              \"approved\": true\n            },\n
        \           \"step4\": {\n              \"approvalDate\": \"2019-08-07T00:00:00.000Z\",\n
        \             \"approved\": true\n            }\n          },\n          \"curationActivity\":
        \"Variant Pathogenicity\",\n          \"fullBaseName\": \"TP53\",\n          \"shortBaseName\":
        \"TP53\",\n          \"shortTitle\": \"TP53 VCEP\",\n          \"title\":
        \"TP53 Variant Curation Expert Panel\",\n          \"type\": \"Variant Curation
        Expert Panel\"\n        },\n        \"entId\": \"50013\",\n        \"entIri\":
        \"http://clinicalgenome.org/affiliation/50013\",\n        \"entType\": \"Organization\",\n
        \       \"ld\": {\n          \"SequenceVariantInterpretation\": [\n            {\n
        \             \"entContent\": {\n                \"approvedOn\": \"2025-11-20T20:05:07.488Z\",\n
        \               \"description\": \"TP53 Rule Specifications for the ACMG/AMP
        Variant Curation Guidelines\",\n                \"namespace\": \"GN009\",\n
        \               \"notes\": \"\",\n                \"references\": [\n                  {\n
        \                   \"source\": \"PubMed\",\n                    \"url\":
        \"https://pubmed.ncbi.nlm.nih.gov/33300245/\"\n                  }\n                ],\n
        \               \"releaseNotes\": \"*   v2.0.0\\n    *   Major version 2 VCEP
        updates with SVI feedback from first submission incorporated\\n    *   Points
        based evidence combining criteria based on modified Bayesian points system\\n*
        \  v.2.1.0\\n    *   Minor edit to PS3/BS3 language for clarification purposes.
        No change to rule codes.\\n*   v.2.2.0\\n    *   Deleted comment from PVS1
        spreadsheet\\n*   v.2.3.0\\n    *   Minor PP4 language clarifications\\n    *
        \  Minor BP7 strong code language clarification\\n    *   Updated functional
        and in silico flowcharts. Publication versions.\\n*   v.2.4.0\\n    *   Minor
        update of the functional rules to incorporate eligible assay data\\n    *
        \  Added caveat that functional codes should not be applied if PVS1 is applied
        for splicing\\n    *   Added clarification to avoid double counting of PS4
        HER2+ points\\n    *   Minor language clarifications\\n    *   Uploaded additional
        supporting files\\n    *   Updated Cspec to Tavtigian points based system
        instead of combining criteria\",\n                \"shortTitle\": \"TP53 VCEP
        ACMG/AMP Specifications\",\n                \"specificationSource\": \"\",\n
        \               \"states\": [\n                  {\n                    \"current\":
        true,\n                    \"event\": {\n                      \"modifiedBy\":
        \"Megfrone\",\n                      \"name\": \"cspec-released\",\n                      \"prevState\":
        \"Approved For Release\",\n                      \"timeStamp\": \"2025-11-20T20:05:07.488Z\"\n
        \                   },\n                    \"name\": \"Released\"\n                  },\n
        \                 {\n                    \"current\": false,\n                    \"event\":
        {\n                      \"modifiedBy\": \"Megfrone\",\n                      \"name\":
        \"cspec-reopened\",\n                      \"prevState\": \"Released\",\n
        \                     \"timeStamp\": \"2025-10-09T20:24:16.345Z\"\n               [...]
