interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://cspec.genome.network/cspec/id/99999?detail=high
  response:
    body:
      string: "{\n  \"metadata\": {\n    \"rendered\": {\n      \"by\": \"https://cspec.genome.network/cspec/srvc\",\n
        \     \"when\": \"2026-05-26T14:41:49.089Z\"\n    }\n  },\n  \"status\": {\n
        \   \"code\": 404,\n    \"msg\": \"Bad Entity - No entities found for identifier
        '99999'\",\n    \"name\": \"Not Found\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
